/*---------------------- Actaul div holding homework "about" ----------------------*/

#wrapper {
  background-image: url("./cssImages/cork-wallet.png");
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

/*---------------------- Top navigation bar ----------------------*/
#realUl {
  height: 90px;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
}

#headerLi li a {
  text-decoration: none;
}

#headerLi li a:hover {
  font-size: 17px;
  border: 1px solid #4aaaa5;
}

#headerLi li a:active {
  color:#777777;
  background-color: #4aaaa5;
}

#headerLi {
  margin-right: 8%;
}

.inline  {
  color: #777777;
  display: inline;
  float: right;
  padding: 8px;
  font-size: 15px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  margin-top: 30px;
}

#inlineLeft {
  color: #ecebeb;
  font-size: 40px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  height: 100%;
  background-color: #4aaaa5;
  float: left;
  display: inline;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 25px;
  margin-left: 12%;
}



/*---------------------- About me area holding bio and avi picture ----------------------*/
#about {
  float: left;
  overflow: auto;
  background-color: #ffffff;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 10%;
  border: 2px solid #cccccc;
  width: 50%;
  height: auto;
}

#aboutMe {
  font-size: 35px;
  color: #4aaaa5;
  width: 90%;
  border-bottom: 2px solid #cccccc;
  padding: 20px 20px 20px 0px;
  margin-left: 30px;
}

#avi {
  float:left;
  padding: 30px;
  width:300px;
  height: 200px;
}

#aviP {
  color: #777777;
  padding: 20px;
  font-size: 25px;
}

/*---------------------- connect with me area holding links to socail media ----------------------*/
#github, #linkedin {
  width: 30%;
  height: 30%;
}

#stack {
  padding-bottom: 3%;
  width: 25%;
  height: 25%;
}


#links {
  overflow: auto;
  height: 20%;
  background-color: #ffffff;
  width: 15%;
  margin-right: 20%;
  margin-top: 2%;
  float: right;
  border: 2px solid #cccccc;
}

#imgul {
  padding: 7%;
  margin-left: 10%;
  margin-top: 5%;
}

.imgli {
  display: inline;
}

#linkh1 {
  font-size: 2em;
  color: #4aaaa5;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 2px solid #cccccc;
  margin-left: 10%;
  margin-right: 10%;
}

/*-------------------- footer area ----------------------*/

#footer {
  position: relative;
  border-top: 4px solid #4aaaa5;
  clear: both;
  bottom: 0;
  text-align: center;
  background-color: #666666;
  width: 100%;
  min-height: 100px;
} 

#footerh1 {
  padding-top: 30px;
  color: #cccccc;
  font-size: 15px;
}


/*-------------------- @media --------------------*/



@media screen and (max-width: 640px) {

  #about {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #links {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
  }

  #footer {
    position: relative;
  }
}

/*-------------------- @media 768 --------------------*/



@media screen and (max-width: 768px) {

  #about {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #links {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
  }
}

#footer {
  position: relative;
}

#headerLi {
  margin-right: 0;
}
